
@font-face {
    src: url('./assets/fonts/Montserrat-Bold.ttf');
    font-family: MonBold;
}
@font-face {
    src: url('./assets/fonts//Montserrat-Light.ttf');
    font-family: MonLight;
}
:root {
    --blue: #224870;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
	font-family: MonLight;
	text-decoration: none;
}
body {
    background: #FAFAFA;
    -webkit-overflow-scrolling: touch;
}
main {
    width: 100%;
    padding: 1.2em 0;
}
